@font-face {
  font-family: "gilroyextrabold";
  src:
      local("gilroyextrabold"),
      url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "gilroylight";
  src:
      local("gilroylight"),
      url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  src:
      local("opensans"),
      url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "opensanslight";
  src:
      local("opensanslight"),
      url("../fonts/opensanslight.woff") format("woff");
}

html, body {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1{
  font-family: "gilroyextrabold";
  font-size: 48px;
  color: rgba(0, 0, 0, 1);
}

h2{
  font-family: "gilroyextrabold";
  font-size: 47px;
  color: rgba(0, 0, 0, 1);
}

h3{
  font-family: "gilroyextrabold";
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

p{
  font-family: "opensanslight";
  font-size: 15px;
  color: #333;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container{
  width: 1160px;
  margin: 0 auto;
}

.header-main{
  margin-top: 20px;
  width: 100%;
  height: 210px;
  padding: 50px 0 40px;
  background: rgba(255, 204, 51, 0.5);
}

.header-main h1{
  padding-left: 55px;
  margin: 0;
  position: absolute;
  top: -10px;
}

.header-main h1:hover{
  color: rgba(51, 51, 51, 1);
}

.header-main h1:active{
  color: rgba(102, 102, 102, 1);
}

.form-find {
    display: block;
    position: relative;
    float: left;
    margin-right: 340px;
}

.form-find::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 13px;
}

.form-find input[type="text"] {
    display: block;
    position: relative;
    padding-left: 50px;
    padding: 16px 30px 14px;
    width: 170px;
    height: 12px;
    font-family: "opensanslight";
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
    background: inherit;
    border: none;
}

.header-user{
  padding-left: 55px;
  margin-bottom: 20px;
}

.header-user a{
  display: inline-block;
  position: relative;
  font-family: "opensanslight";
  font-size: 15px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.header-userr a:last-child{
  margin-right: 0;
}

.header-user a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.header-user a:active{
  color: rgba(0, 0, 0, 0.3);
}

.header-icon-user{
  margin-right: 257px;
}

.header-icon-compare{
  margin-right: 45px;
}

.header-icon-user::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-header-user.svg");
  width: 13px;
  height: 12px;
}

.header-icon-user:hover::before{
  background: url("../img/icon-header-user-hover.svg");
}

.header-icon-user:active::before{
  background: url("../img/icon-header-user-hover.svg");
  opacity: 0.3;
}

.header-icon-compare::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-header-compare.svg");
  width: 10px;
  height: 10px;
}

.header-icon-compare:hover::before{
  background: url("../img/icon-header-compare-hover.svg");
}

.header-icon-compare:active::before{
  background: url("../img/icon-header-compare-hover.svg");
  opacity: 0.3;
}

.header-icon-cart::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-header-cart.svg");
  width: 12px;
  height: 12px;
}

.header-icon-cart:hover::before{
  background: url("../img/icon-header-cart-hover.svg");
}

.header-icon-cart:active::before{
  background: url("../img/icon-header-cart-hover.svg");
  opacity: 0.3;
}

.header-menu{
  padding-left: 55px;
}

.header-menu a{
  display: inline-block;
  margin-right: 30px;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 1);
}

.header-menu a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.header-menu a:active{
  color: rgba(0, 0, 0, 0.3);
}

.header-menu a:last-child{
  margin-right: 0;
}

.slider{
  padding-left: 90px;
  position: relative;
  top: -110px;
}

.slider-photo{
  float: left;
  margin-right: 120px;
  background: url("../img/slide-1.png") no-repeat;
  width: 384px;
  height: 486px;
}

.slider-text{
  position: relative;
  top: 45px;
  float: left;
}

.slider-text b{
  position: absolute;
  top: -60px;
  right: -15px;
  font-family: "gilroyextrabold";
  font-size: 180px;
  line-height: 180px;
  color: rgba(255, 255, 255, 1);
}

.slider-text-details span{
  font-family: "gilroylight";
  font-size: 36px;
  line-height: 55px;
  color: rgba(0, 0, 0, 1);
}

.slider-text-details p{
  font-size: 13px;
  display: inline-block;
  margin-right: 80px;
}

.catalog-items{
  display: block;
  position: relative;
  padding-right: 285px;
}

.garanty{
  padding-right: 70px;
}

.catalog-items::before{
  content: "";
  display: block;
  position: absolute;
  background: url("../img/icon-plus.svg") no-repeat;
  top: 5px;
  left: 230px;
  width: 16px;
  height: 16px;
}

.popular{
  margin-bottom: 250px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6{
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 160px;
  margin-right: 35px;
}

.item-6{
  margin-right: 0;
}

.item-1{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-1.svg") no-repeat;
  background-position: center;
}

.item-1:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-1.svg") no-repeat;
  background-position: center;
}

.item-1:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-1-active.svg") no-repeat;
  background-position: center;
}

.item-2{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-2.svg") no-repeat;
  background-position: center bottom;
}

.item-2:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-2.svg") no-repeat;
  background-position: center bottom;
}

.item-2:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-2-active.svg") no-repeat;
  background-position: center bottom;
}

.item-3{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-3.svg") no-repeat;
  background-position: center;
}

.item-3:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-3.svg") no-repeat;
  background-position: center;
}

.item-3:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-3-active.svg") no-repeat;
  background-position: center;
}

.item-4{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-4.svg") no-repeat;
  background-position: center;
}

.item-4:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-4.svg") no-repeat;
  background-position: center;
}

.item-4:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-4-active.svg") no-repeat;
  background-position: center;
}

.item-5{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-5.svg") no-repeat;
  background-position: center;
}

.item-5:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-5.svg") no-repeat;
  background-position: center;
}

.item-5:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-5-active.svg") no-repeat;
  background-position: center;
}

.item-6{
  background: rgba(255, 204, 51, 0.5) url("../img/popular-6.svg") no-repeat;
  background-position: center;
}

.item-6:hover{
  background: rgba(255, 204, 51, 1) url("../img/popular-6.svg") no-repeat;
  background-position: center;
}

.item-6:active{
  background: rgba(255, 204, 51, 1) url("../img/popular-6-active.svg") no-repeat;
  background-position: center;
}

.popular h3{
  padding-top: 170px;
}











.popular h3{
  margin-top: 5px;
}

.delivery{
  display: block;
  position: relative;
  width: 100%;
  height: 290px;
  background: #ccc;
}

.delivery-menu{
  display: block;
  position: relative;
  float: left;
  top: -20px;
  width: 280px;
}

.delivery-menu::before{
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  right: 0;
  width: 7px;
  height: 320px;
  background: #000;
}

.btn{
  display: inline-block;
  width: 100px;
  height: 8px;
  padding: 0 30px;
  border-top: 16px #ccc solid;
  border-bottom: 16px #ccc solid;
  text-align: center;
  text-transform: uppercase;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 7px;
  background: rgba(255, 204, 51, 1);
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.btn:hover{
  border-top: 16px rgba(255, 204, 51, 1) solid;
  border-bottom: 16px rgba(255, 204, 51, 1) solid;
}

.btn:active{
  width: 250px;
  padding-left: 30px;
  text-align: left;
  border-top: 16px rgba(0, 0, 0, 1) solid;
  border-bottom: 16px rgba(0, 0, 0, 1) solid;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.btn-active{
  display: block;
  width: 250px;
  height: 8px;
  text-transform: uppercase;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 10px;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
  text-align: left;
  border-top: 16px rgba(0, 0, 0, 1) solid;
  border-bottom: 16px rgba(0, 0, 0, 1) solid;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.btn-white{
  display: inline-block;
  height: 8px;
  padding: 0 30px;
  border-top: 16px rgba(255, 255, 255, 1) solid;
  border-bottom: 16px rgba(255, 255, 255, 1) solid;
  text-align: left;
  text-transform: uppercase;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 7px;
  background: rgba(255, 204, 51, 1);
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.btn-white:hover{
  border-top: 16px rgba(255, 204, 51, 1) solid;
  border-bottom: 16px rgba(255, 204, 51, 1) solid;
}

.btn-white:active{
  width: 250px;
  padding-left: 30px;
  text-align: left;
  border-top: 16px rgba(0, 0, 0, 1) solid;
  border-bottom: 16px rgba(0, 0, 0, 1) solid;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.delivery-text{
  float: right;
  display: block;
  position: relative;
  width: 764px;
  top: -70px;
}

.delivery-text::before{
  content: "";
  display: block;
  position: absolute;
  background: url("../img/delivery.png");
  width: 136px;
  height: 164px;
  top: 55px;
  right: 70px;
}

.delivery-text h2{
  margin-bottom: 25px;
}

.delivery-text p{
  line-height: 30px;
}

.logos{
  margin-top: 90px;
}

.logo-dji,
.logo-spgadgets,
.logo-gopro,
.logo-vive{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  width: 260px;
  height: 100px;
}

.logo-dji{
  background: url("../img/logo-dji.jpg");
}

.logo-dji:hover{
  background: url("../img/logo-dji-hover.jpg");
}

.logo-spgadgets{
  background: url("../img/logo-spgadgets.jpg");
}

.logo-spgadgets:hover{
  background: url("../img/logo-spgadgets-hover.jpg");
}

.logo-gopro{
  background: url("../img/logo-gopro.jpg");
}

.logo-gopro:hover{
  background: url("../img/logo-gopro-hover.jpg");
}

.logo-vive{
  background: url("../img/logo-vive.jpg");
}

.logo-vive:hover{
  background: url("../img/logo-vive-hover.jpg");
}

.about-contacts{
  margin-top: 90px;
}

.about a{
  margin-top: 25px;
}

.about,
.contacts{
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

.about::before,
.contacts::before{
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background: #000;
}

.about li{
  display: block;
  position: relative;
  font-family: "gilroyextrabold";
  font-size: 16px;
  line-height: 40px;
  margin-left: 25px;
}

.about li::before{
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -25px;
  width: 10px;
  height: 10px;
  background: url("../img/icon-indicator.png");
}

.map-mini{
  display: block;
  width: 560px;
  height: 222px;
  background: url("../img/map-mini.png") no-repeat;
}

footer{
  height: 200px;
  background: #464646;
  padding: 65px 0 60px;
}

footer h1{
  color: rgba(247, 225, 132, 1);
  margin: 0;
}

footer h1:hover{
  color: rgba(247, 197, 46, 1);
}

footer h1:active{
  color: rgba(247, 197, 46, 0.3);
}

footer p{
  color: rgba(255, 255, 255, 1);
}

.footer-logo,
.footer-menu{
  display: block;
  float: left;
}

.footer-logo{
  margin-right: 155px;
}

.footer-user{
  float: right;
}

.footer-menu a{
  display: inline-block;
  margin-right: 40px;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 1);
}

.footer-menu a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu a:last-child{
  margin-right: 0;
}

.footer-user a{
  display: inline-block;
  position: relative;
  margin-left: 30px;
  margin-right: 25px;
  font-family: "opensanslight";
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-user a:last-child{
  margin-right: 0;
}

.footer-user a:hover{
  color: rgba(255, 255, 255, 1);
}

.footer-user a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-icon-user::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-user.svg");
  width: 13px;
  height: 12px;
}

.footer-icon-user:hover::before{
  background: url("../img/icon-footer-user-hover.svg");
}

.footer-icon-user:active::before{
  background: url("../img/icon-footer-user-hover.svg");
  opacity: 0.3;
}

.footer-icon-compare::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-compare.svg");
  width: 10px;
  height: 10px;
}

.footer-icon-compare:hover::before{
  background: url("../img/icon-footer-compare-hover.svg");
}

.footer-icon-compare:active::before{
  background: url("../img/icon-footer-compare-hover.svg");
  opacity: 0.3;
}

.footer-icon-cart::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-cart.svg");
  width: 12px;
  height: 12px;
}

.footer-icon-cart:hover::before{
  background: url("../img/icon-footer-cart-hover.svg");
}

.footer-icon-cart:active::before{
  background: url("../img/icon-footer-cart-hover.svg");
  opacity: 0.3;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fb{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-fb.png") no-repeat;
  opacity: 0.3;
}

.inst{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-inst.png") no-repeat;
  opacity: 0.3;
}

.tw{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-tw.png") no-repeat;
  opacity: 0.3;
}

.fb:hover,
.inst:hover,
.tw:hover{
  opacity: 0.6;
}

.fb:active,
.inst:active,
.tw:active{
  opacity: 0.1;
}

.htmlacademy{
  display: inline-block;
  width: 27px;
  height: 34px;
  background: url("../img/icon-htmlacademy.png") no-repeat;
}

.htmlacademy:hover{
  background: url("../img/icon-htmlacademy-hover.png") no-repeat;
}

.htmlacademy:active{
  background: url("../img/icon-htmlacademy-hover.png") no-repeat;
  opacity: 0.3;
}
