@font-face {
  font-family: "gilroyextrabold";
  src:
      local("gilroyextrabold"),
      url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "gilroylight";
  src:
      local("gilroylight"),
      url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  src:
      local("opensans"),
      url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "opensanslight";
  src:
      local("opensanslight"),
      url("../fonts/opensanslight.woff") format("woff");
}

html, body {
    margin: 0 auto;
    padding: 0;
}

.container{
  width: 1160px;
  margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1{
  font-family: "gilroyextrabold";
  font-size: 48px;
  color: #000;
}

h2{
  font-family: "gilroyextrabold";
  font-size: 47px;
  color: #000;
}

h3{
  font-family: "gilroyextrabold";
  font-size: 18px;
  color: #000;
}

p{
  font-family: "opensanslight";
  font-size: 15px;
  color: #333;
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.popular{
  margin-bottom: 100px;
}

.popular-item{
  display: inline-block;
  width: 160px;
  height: 160px;
  vertical-align: top;
  margin-right: 35px;
  background-color: rgba(255, 204, 51, 0.5);
}

.popular-item:last-child{
  margin-right: 0;
}

.item-1{
  background-image: url("../img/popular-1.svg") no-repeat;
  width: 97px;
  height: 55px;
  background-position: center;
}

.popular h3{
  margin-top: 5px;
}

.delivery{
  display: block;
  position: relative;
  width: 100%;
  height: 290px;
  background: #ccc;
}

.delivery-menu{
  display: block;
  position: relative;
  float: left;
  top: -20px;
  width: 280px;
}

.delivery-menu::before{
  content: "";
  display: block;
  position: absolute;
  top: -80px;
  right: 0;
  width: 7px;
  height: 320px;
  background: #000;
}

.btn{
  display: block;
  position: relative;
  width: 160px;
  height: 8px;
  border-top: 16px #ccc solid;
  border-bottom: 16px #ccc solid;
  text-align: center;
  text-transform: uppercase;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  background: #ffcc33;
  color: #000;
  margin-bottom: 20px;
}

.btn-white{
  width: 260px;
  border-top: 16px #fff solid;
  border-bottom: 16px #fff solid;
}

.btn:hover{
  width: 160px;
  background: #ffcc33;
  border-top: 16px #ffcc33 solid;
  border-bottom: 16px #ffcc33 solid;
  color: #000;
}

.btn-white:hover{
  width: 260px;
  border-top: 16px #ffcc33 solid;
  border-bottom: 16px #ffcc33 solid;
  color: #000;
}

.btn:active{
  width: 280px;
  background: #000;
  border-top: 16px #000 solid;
  border-bottom: 16px #000 solid;
  color: #ffcc99;
}

.btn-white:active{
  width: 260px;
  background: #000;
  border-top: 16px #000 solid;
  border-bottom: 16px #000 solid;
  color: #ffcc99;
}

.btn-active{
  display: block;
  position: relative;
  width: 280px;
  height: 8px;
  border-top: 16px #000 solid;
  border-bottom: 16px #000 solid;
  text-align: center;
  text-transform: uppercase;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  background: #000;
  color: #ffcc99;
  margin-bottom: 20px;
}

.btn-text{
  display: block;
  top: -7px;
  left: 20px;
  position: absolute;
}

.delivery-text{
  float: right;
  display: block;
  position: relative;
  width: 764px;
  top: -70px;
}

.delivery-text::before{
  content: "";
  display: block;
  position: absolute;
  background: url("../img/delivery.png");
  width: 136px;
  height: 164px;
  top: 55px;
  right: 70px;
}

.delivery-text h2{
  margin-bottom: 25px;
}

.delivery-text p{
  line-height: 30px;
}

.logos{
  margin-top: 90px;
}

.logo-dji,
.logo-spgadgets,
.logo-gopro,
.logo-vive{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  width: 260px;
  height: 100px;
}

.logo-dji{
  background: url("../img/logo-dji.jpg");
}

.logo-dji:hover{
  background: url("../img/logo-dji-hover.jpg");
}

.logo-spgadgets{
  background: url("../img/logo-spgadgets.jpg");
}

.logo-spgadgets:hover{
  background: url("../img/logo-spgadgets-hover.jpg");
}

.logo-gopro{
  background: url("../img/logo-gopro.jpg");
}

.logo-gopro:hover{
  background: url("../img/logo-gopro-hover.jpg");
}

.logo-vive{
  background: url("../img/logo-vive.jpg");
}

.logo-vive:hover{
  background: url("../img/logo-vive-hover.jpg");
}

.about-contacts{
  margin-top: 90px;
}

.about,
.contacts{
  display: block;
  position: relative;
  float: left;
  width: 50%;
}

.about::before,
.contacts::before{
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background: #000;
}

.about li{
  display: block;
  position: relative;
  font-family: "gilroyextrabold";
  font-size: 16px;
  line-height: 40px;
  margin-left: 25px;
}

.about li::before{
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -25px;
  width: 10px;
  height: 10px;
  background: url("../img/icon-indicator.png");
}

.map-mini{
  display: block;
  width: 560px;
  height: 222px;
  background: url("../img/map-mini.png") no-repeat;
}

footer{
  height: 200px;
  background: #464646;
  padding: 65px 0 60px;
}

footer h1{
  color: rgba(247, 225, 132, 1);
  margin: 0;
}

footer h1:hover{
  color: rgba(247, 197, 46, 1);
}

footer h1:active{
  color: rgba(247, 197, 46, 0.3);
}

footer p{
  color: rgba(255, 255, 255, 1);
}

.footer-logo,
.footer-menu{
  display: block;
  float: left;
}

.footer-logo{
  margin-right: 155px;
}

.footer-user{
  float: right;
}

.footer-menu a{
  display: inline-block;
  margin-right: 40px;
  font-family: "gilroyextrabold";
  font-size: 18px;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 1);
}

.footer-menu a:hover{
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu a:last-child{
  margin-right: 0;
}

.footer-user a{
  display: inline-block;
  position: relative;
  margin-left: 30px;
  margin-right: 25px;
  font-family: "opensanslight";
  font-size: 15px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-user a:last-child{
  margin-right: 0;
}

.footer-user a:hover{
  color: rgba(255, 255, 255, 1);
}

.footer-user a:active{
  color: rgba(255, 255, 255, 0.3);
}

.footer-icon-user::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-user.svg");
  width: 13px;
  height: 12px;
}

.footer-icon-user:hover::before{
  background: url("../img/icon-footer-user-hover.svg");
}

.footer-icon-user:active::before{
  background: url("../img/icon-footer-user-hover.svg");
  opacity: 0.3;
}

.footer-icon-compare::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-compare.svg");
  width: 10px;
  height: 10px;
}

.footer-icon-compare:hover::before{
  background: url("../img/icon-footer-compare-hover.svg");
}

.footer-icon-compare:active::before{
  background: url("../img/icon-footer-compare-hover.svg");
  opacity: 0.3;
}

.footer-icon-cart::before{
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -25px;
  background: url("../img/icon-footer-cart.svg");
  width: 12px;
  height: 12px;
}

.footer-icon-cart:hover::before{
  background: url("../img/icon-footer-cart-hover.svg");
}

.footer-icon-cart:active::before{
  background: url("../img/icon-footer-cart-hover.svg");
  opacity: 0.3;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fb{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-fb.png") no-repeat;
  opacity: 0.3;
}

.inst{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-inst.png") no-repeat;
  opacity: 0.3;
}

.tw{
  display: inline-block;
  width: 39px;
  height: 38px;
  background: url("../img/icon-tw.png") no-repeat;
  opacity: 0.3;
}

.fb:hover,
.inst:hover,
.tw:hover{
  opacity: 0.6;
}

.fb:active,
.inst:active,
.tw:active{
  opacity: 0.1;
}

.htmlacademy{
  display: inline-block;
  width: 27px;
  height: 34px;
  background: url("../img/icon-htmlacademy.png") no-repeat;
}

.htmlacademy:hover{
  background: url("../img/icon-htmlacademy-hover.png") no-repeat;
}

.htmlacademy:active{
  background: url("../img/icon-htmlacademy-hover.png") no-repeat;
  opacity: 0.3;
}
